.modal-container{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d7a;
    padding-top: 50px;
    .modal-content{
        background-color: #6594ef;
        margin: 5% auto 15%;
        text-align: center;
        width: 30%;
        box-shadow: 1em 0em 5em 9px rgb(0 0 0 / 30%);
        color: white;
        border-radius: 6px;
    }
    .close-btn{
        margin-left: 94%;
        margin-left: 94%;
        background: none;
        border: none;
        color: #e2d0d0;
        font-size: 15px;
        cursor: pointer;
    }
    .ranges{
        display: flex;
        justify-content: space-around;
        margin: 48px 0px;
    }
    .range{
        display: flex;
        flex-direction: column; 
    }
    .alerts{
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .radio-btns{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .save-btn{
        background: white;
        border: none;
        border-radius: 14px;
        color: #6ba1e2;
        font-weight: 900;
        padding: 7px 20px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .modal-text{
        padding-right: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .input-alert-modal{
        border: none;
        border-bottom: 1px solid silver;
        background: none;
        color: white;
    }
    .second-row{
        margin-top: 30px;
    }

}


