.modal-container .modal-content {
    padding: 8px;
}

.bold{
  font-weight: 900;
}



   .MuiDataGrid-columnHeaders{
    background-color: rgb(101 148 239);
  }
  
//   //MUI v5 (notice the class name difference)
//   "& .MuiDataGrid-virtualScrollerRenderZone": {
//     "& .MuiDataGrid-row": {
//       "&:nth-child(2n)": { backgroundColor: "rgba(235, 235, 235, .7)" }
//     }
//   }